* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: system-ui;
  }
  
  body {
    min-height: 100vh;
    background: radial-gradient(circle at top, #1d2555, #070b1a);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }
  
  .success-container {
    text-align: center;
    max-width: 420px;
  }
  
  .check {
    width: 84px;
    height: 84px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: linear-gradient(135deg, #6f7bff, #3f4ddb);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    box-shadow: 0 0 40px rgba(111,123,255,.7);
  }
  
  h1 {
    font-size: 22px;
    margin-bottom: 6px;
  }
  
  p {
    opacity: .8;
    margin-bottom: 26px;
  }
  
  .info-box {
    background: rgba(255,255,255,.08);
    border-radius: 16px;
    padding: 18px;
    text-align: left;
    margin-bottom: 28px;
  }
  
  .info-box div {
    margin-bottom: 10px;
    font-size: 14px;
  }
  
  .go-btn {
    width: 100%;
    padding: 14px;
    border-radius: 999px;
    border: none;
    font-size: 16px;
    color: #fff;
    background: linear-gradient(135deg, #5f6bff, #3c4ddb);
    box-shadow: 0 12px 30px rgba(95,107,255,.6);
    cursor: pointer;
  }
  .login-btn {
    margin-top: 34px;
    width: 260px;
    padding: 14px;
  
    border-radius: 999px;
    border: none;
    font-size: 16px;
    font-weight: 500;
  
    color: #fff;
    background: linear-gradient(135deg, #5f6bff, #3c4ddb);
    box-shadow: 0 12px 30px rgba(95,107,255,.55);
  
    cursor: pointer;
    transition: .25s ease;
  }
  
  .login-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 18px 40px rgba(95,107,255,.75);
  }
  