header{

    background-color: black ;
    height: 90px;
    width: 100%;
    color: white;

}
#Hportfolio{
    
    margin-bottom: 0%;
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
    background-color:black;
    text-align: center;
    border: black;
}
#PortfolioSz{
    color: white;
    font-size: x-large;
    
}

#test{background: linear-gradient(0deg, rgba(59, 63, 143, 1) 0%, rgba(0, 0, 0, 1) 100%);}
#test{
    height: 1000px
    
}
body{
    margin: 0%;

}