header{

    background-color: black ;
    height: 70px;
    width: 100%;
    color: white;

}
#Hportfolio{
    
    margin-bottom: 0%;
    margin: 0%;

}

#test{background: linear-gradient(180deg, rgba(59, 63, 143, 1) 0%, rgba(0, 0, 0, 1) 100%);}
#test{
    height: 1000px
    
}
body{
    margin: 0%;

}