.input-field{
    width:100%;
    max-width:320px;
    padding:14px;
    margin:10px auto;
    border-radius:999px;
    border:none;
    font-size:16px;
    outline:none;
    background:#1a1f38;
    color:#fff;
    text-align:center;
  }
  