/*--------------------Fejléc--------------------*/
header{

    background-color: black ;
    height: 90px;
    width: 100%;
    color: white;

}
#Hportfolio{
    
    margin-bottom: 0%;
    margin-top: 10px;
    margin-left: 30px;
    width: 250px;
    background-color:black;
    text-align: center;
    border: black;
}
#PortfolioSz{
    color: white;
    font-size: x-large;
    
}

#beallitaskep{
    float: right;
    margin-top: 17px; 
    margin-bottom: auto;  
    height: 60px;
    margin-right: 40px;
}
#malacperselykep{
    float: right;
    height: 90px;
    margin-right: 40px;
}
/*----------------------------------------------------*/

#test{background: linear-gradient(0deg, rgba(59, 63, 143, 1) 0%, rgba(0, 0, 0, 1) 100%);}
#test{
    height:auto;
    
}
body{
    margin: 0%;

}
#karika{
    text-align: center;
}
#Karikakep{
    margin-top: 100px;
    height: 500px;
    width: 500px;
}
#Jelzesek{
    margin-top: 100px;
    margin-bottom: 50px;
}